Source: gass
Version: 2020-01-07
Homepage: https://github.com/leadcoder/gass
Description: GASS

Feature: sim
Description: Build gass sim
Build-Depends: ois, osg (windows), osgearth (windows), physx (windows), ode, openal-soft, libuuid (linux)

Feature: force-static
Description: Force static build
